!!! 5

= stylesheet_link_tag 'application'
= stylesheet_link_tag 'user_location/map'
= javascript_include_tag 'application'
= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC0CDyphH7-uZimHzFQ7g-FZy9VckUz-9M'
= javascript_include_tag 'user_location/map'


.content
  .select-device-div.inline
    Device
    = select_tag :device, :options => @devices, :selected => 'Select', :id => 'select_devices'
    
  .select-pull-day-div.inline
    Date
    = select_tag :pull_day, :options => @days, :selected => 'Select', :id => 'select_pull_day'
    
  .marker-type-div.inline
    Marker
    = radio_button_tag :marker_type, :value => 'circle', :checked => true, :id => 'marker-circle'
    Radius
    = radio_button_tag :marker_type, :value => 'dot', :id => 'marker-dot'
    Point
    
  .select-location-type-div.inline
    Location Type
    = select_tag :location_type, :options => ['All', 'Both', 'GPS', 'Network', 'Neither'], :selected => 'All', :id => 'select_location_type'
    
  .marker-legend.inline
    %ul
      %li{:style => "color:#FF0000"} GPS and Network
      %li{:style => "color:#00FF00"} GPS
      %li{:style => "color:#0000FF"} Network
      %li{:style => "color:#000000"} None
  
  
%div{:id => 'map-canvas'}