!!! 5

= stylesheet_link_tag 'application'
= stylesheet_link_tag 'user_location/map'
= javascript_include_tag 'application'
= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC0CDyphH7-uZimHzFQ7g-FZy9VckUz-9M'
= javascript_include_tag 'user_location/map'


.content
  .select-device-div.inline
    Device
    = select_tag :device, :options => @devices, :selected => 'none', :id => 'select_devices'
  .marker-type-div.inline
    Marker
    = radio_button_tag :marker_type, :value => 'circle', :checked => true, :id => 'marker-circle'
    Radius
    = radio_button_tag :marker_type, :value => 'dot', :id => 'marker-dot'
    Point
  .marker-legend.inline
    %ul
      %li{:style => "color:#FF0000"} Both GPS and Network
      %li{:style => "color:#00FF00"} Only GPS
      %li{:style => "color:#0000FF"} Only Network
      %li{:style => "color:#000000"} None
  
  
%div{:id => 'map-canvas'}